{% for category in site.categories %}
<div id="{{ category | first }}">
<div id="fh5co-our-services" data-section="{{ category | first }}"
	{% cycle ' style="background:#009688"','', ' style="background:#009688"', ''  %}>
	<div class="container">
		<div class="row row-bottom-padded-sm">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate"
					{% cycle ' style="color: white"','', ' style="color: white"', ''  %}>
					{{ category | first }}</h2>
			</div>
		</div>
		<div class="row">
			{% for posts in category offset:1 %}
			{% for post in posts %}
			{% if post.title != nil %}
			<div class="col-md-6">
				<div class="box to-animate">
					<div{% cycle ' class="icon colored-1"',' class="icon colored-2"', '
								class="icon colored-3"', ' class="icon colored-4"'  %}>
						<span><i class="icon-mustache"></i></span>
          </div>
          <p class="text-muted">{{post.date | date: "%b %-d %Y"}}</p>
          <h2>{{ post.title }}</h2>
          <div class="divider"></div>
          <p>{{ post.excerpt }}</p>
          <a href="{{post.url}}" class="btn btn-default btn-sm">Read More</a>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
</div>
{% endfor %}
