{% for category in site.categories %}
<div id="{{ category | first }}">
<div id="fh5co-testimonials"  data-section="{{ category | first }}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ category | first }}</h2>
				</div>
			</div>
			<div class="row">
				{% for posts in category offset:1 %}
				<div class="col-md-12">
					<div class="box-testimony to-animate">
						<blockquote>
			 	 			{% for post in posts %}
      		  	  {% if post.title != nil %}
								<div class="excerpt">
									<a href="{{post.url}}">
										<h3>
											<i class="glyphicon glyphicon-leaf"></i>
											{{ post.title }}
										</h3>
									</a>
									<p> {{post.date | date: "%b %-d %Y"}}
									<p>{{ post.excerpt }}</p>
								</div>
								{% endif %}
      		  	{% endfor %}
						</blockquote>
					</div>
				</div>
      {% endfor %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
