<div id="slider" data-section="home">
    <div class="owl-carousel owl-carousel-fullwidth">
        <!-- You may change the background color here. -->
        <div class="item" style="background: #352f44;">
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-2-md-5 col-sm-7">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Main Repository</h1>
                                <h2 class="fh5co-sub-lead to-animate">All the Repositories overview is at Github.</h3>
                                    <p class="to-animate-2">
                                        <a target="_blank" href="https://github.com/ningthoujam-lokhendro" class="btn btn-primary btn-lg">Visit Github.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
                        <div class="iphone to-animate-2"><img src="assets/fh5co/images/labcat.png" alt="Github LabCat"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="item" style="background-image:url(assets/fh5co/images/slide_5.jpg)">
            <div class="overlay"></div>
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead to-animate">Blogs</h1>
                                <h2 class="fh5co-sub-lead to-animate">Some writing during my spare times.
                                <h3></h3>
                                    <p class="to-animate-2"><a href="{{ "/blogs.html" | prepend: site.baseurl }}" target="_blank" class="btn btn-primary btn-lg">Visit Blogs</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>