<footer id="footer" class="footer">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 text-center">
      <ul class="social social-circle">
						<li><a href="https://github.com/{{ site.github_username }}"><i class="icon-github"></i></a></li>
						<li><a href="https://in.linkedin.com/in/lokhendro"><i class="icon-linkedin"></i></a></li>
						<!--<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>-->
					</ul>
        <!--<p social social-circle><a target="_blank"
                                   href="https://github.com/{{ site.github_username }}">
            <i class="icon-github"></i>  {{site.github_username}}</a></p>-->
      </div>
    </div>
  </div>
</footer>
