<div id="fh5co-our-services" data-section="repositories">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Repositories</h2>
                <!--<div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <h3>Some of the works during my spare time.</h3>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box to-animate">
                    <div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
                    <h3>QueryDsl</h3>
                    <p>The basic usage of QueryDsl with Spring.</p>
                    <a href="http://ningthoujam-lokhendro.github.io/ningzeta-sample-querydsl"
                       target="_blank" class="btn btn-default btn-sm">Get started</a>
                </div>
                <div class="box to-animate">
                    <div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
                    <h3>Redis</h3>
                    <p>The usage of Redis with Spring. Generic Redistemplate creation and serialization</p>
                    <a href="http://ningthoujam-lokhendro.github.io/ningzeta-sample-redis"
                       target="_blank" class="btn btn-default btn-sm">Get started</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box to-animate">
                    <div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
                    <h3>Device Details</h3>
                    <p>ReST API to get device details using device address/mac-address. The details are sync from the IEEE database.</p>
                    <a href="http://ningthoujam-lokhendro.github.io/DeviceDetail"
                       target="_blank" class="btn btn-default btn-sm">Get started</a>
                </div>
                <div class="box to-animate">
                    <div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
                    <h3>Water Bill Management</h3>
                    <p>Web application for water billing and customer management.</p>
                    <a href="http://ningthoujam-lokhendro.github.io/Water-Bill-Management"
                       target="_blank" class="btn btn-default btn-sm">Get started</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box to-animate">
                    <div class="icon colored-3"><span><i class="icon-eye"></i></span></div>
                    <h3>Dump</h3>
                    <p>Some of the general usages.</p>
                    <a href="http://ningthoujam-lokhendro.github.io/dump"
                       target="_blank" class="btn btn-default btn-sm">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>