---
layout: default
---
{% include {{site.theme}}/carousal.html %}
{% include {{site.theme}}/repositories.html %}
<div id="fh5co-blog" data-section="blogs">
<div class="container">
<div class="home">

<div class="span7 text-center">
  <p class="rss-subscribe"><a href="{{ "/blogs.html" | prepend: site.baseurl }}" target="_blank" class="btn btn-primary btn-lg">Visit Blogs</a>
  </p>
</div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
</div>
</div>