---
layout: default
---
{% include carousal.html %}
{% include repositories.html %}
<div id="fh5co-pricing" data-section="blogs">
	<!--<div class="container">

	<div class="text-center">
		<br>
		<br>
  		<p class="rss-subscribe"><a href="{{ "/blogs.html" | prepend: site.baseurl }}" target="_blank" class="btn btn-primary btn-lg">Visit Blogs</a>
  		</p>
	</div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

	</div>-->
	<div class="container">
			<div class="row">
				<div class="col-md section-heading text-center">
					<h2 class="to-animate">BLOGS</h2>
					<h4 class="single-animate animate-pricing-1"><a href="{{ "/blogs.html" | prepend: site.baseurl }}" target="_blank" class="btn btn-primary btn-lg">Visit Blogs</a></h4>
					<div class="row">
						<div class="span4 to-animate">
							<img src="assets/images/tracks.jpg" class="img-responsive img-rounded center-block" alt="Track Image">
						</div>
					</div>
					<div class="row">
						<div class="text-center subtext single-animate animate-pricing-2">
							<h3>&ldquo;Even if you're on the right track, you'll get run over if you just sit there.&rdquo;<em class="author"> - Will Rogers</em></h3>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
</div>