<div class="social-share">
    <a class="social-share-element social-twitter"
      href="https://twitter.com/intent/tweet?text={{page.title}}&amp;url=http://{{site.host}}{{page.url}}&amp;via={{site.twitter_username}}&amp;hashtags=" target="_blank" title="Share this post on Twitter" onclick="_gaq.push(['_trackEvent', 'Share', 'Twitter', window.location.pathname]);"></a>
    <a class="social-share-element social-facebook"
      href="https://www.facebook.com/sharer/sharer.php?t={{page.title}}&amp;u=http://{{site.host}}{{page.url}}" target="_blank" title="Share this post on Facebook" onclick="_gaq.push(['_trackEvent', 'Share', 'Facebook', window.location.pathname]);"></a>
    <a class="social-share-element social-google"
      href="https://plus.google.com/share?url=http://{{site.host}}{{page.url}}" target="_blank" title="Share this post on Google Plus" onclick="_gaq.push(['_trackEvent', 'Share', 'GPlus', window.location.pathname]);"></a>
    <a class="social-share-element social-linkedin"
      href="http://www.linkedin.com/shareArticle?mini=true&amp;title={{page.title}}&amp;url=http://{{site.host}}{{page.url}}&amp;source=http%3a%2f%2fningzeta.com" target="_blank" title="Share this post on LinkedIn" onclick="_gaq.push(['_trackEvent', 'Share', 'LinkedIn', window.location.pathname]);"></a>
    <a class="social-share-element social-digg"
      href="http://digg.com/submit?url=http://{{site.host}}{{page.url}}&amp;title={{page.title}}" target="_blank" title="Share this post on Digg" onclick="_gaq.push(['_trackEvent', 'Share', 'Digg', window.location.pathname]);"></a>
    <a class="social-share-element social-reddit"
      href="http://reddit.com/submit?url=http://{{site.host}}{{page.url}}&amp;title={{page.title}}" target="_blank" title="Share this post on Reddit" onclick="_gaq.push(['_trackEvent', 'Share', 'Reddit', window.location.pathname]);"></a>
</div>
