body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    line-height: 1.5;
    color: #000000; ##606c71;
    background: url(/assets/images/cream-paper.png) center top repeat;
    margin-bottom: 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #22C3AA;  }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: relative;;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  top: 25px;
}
.img-left {
    float: left;
    margin: 0px 20px 0 0;
}

/* Highlight text */
kbd {
  background-color: #00e24b;
}

.downbar h2 {
    background-color: #22C3AA;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 0px 10px;
    margin-bottom: 10px;
    line-height: 40px;
    margin-top: 0px;
    /*font-size:16px;*/
}

.downbar h2 i {
    width: auto;
    height: auto;
    font-size:16px;
    line-height: 16px;
    margin-right:4px;
}

.downbar h3 {
    font-size:14px;
}

.margin-top-reset {
  margin-top:initial;
}
.well-border {
  border: 2px solid #22C3AA;
}
.excerpt {
  border-top: 3px dashed #ff6600;
}
.post-header {
  font-family: sans-serif;
  /* font-weight: 900; */
  margin: 0.5em 0px 1em 0px;
  text-shadow: 1px 1px #EFEFEF,3px 3px #AEE2D9;
  border-bottom-style: double;
  border-bottom-color: #22C3AA;
  border-bottom-width: 8px;
  padding-bottom: .2em;
  color: #666;
}
hr {
    background-color: #22C3AA;
    height: 3px;
    border: 0;
    margin: 10px 0;
}
.top-row {
  top: 85px;
    position: relative;
    padding-bottom: 65px;
}
