<div class="col-xs-6 col-sm-10 col-md-6">
  <div class="jumbotron related fadeIn" style="padding-left: 20px;">
      <h2 style="text-align:center;">- Related posts -</h2>
      {% include posts/related-summary.html %}
  </div>
</div>
<div class="col-xs-6 col-sm-10 col-md-6">
  <div class="jumbotron related fadeIn" style="padding-left: 20px;padding-bottom: 60px">
      <h2 style="text-align:center;">- Recent posts -</h2>
      {% include posts/recent-summary.html %}
      <div class="pull-right text-center">
        <a href="{{baseurl}}/blogs.html" class="btn btn-success">
          All posts
          <i class="icon-arrow-right"></i>
        </a>
      </div>
  </div>
</div>
