<div class="col-xs-6 col-sm-10 col-md-6">
  <div class="well well-lg well-border downbar">
      <h2><i class="icon-star-empty"></i> Related posts</h2>
      {% include posts/related-summary.html %}
  </div>
</div>
<div class="col-xs-6 col-sm-10 col-md-6">
  <div class="well well-lg well-border downbar">
      <h2><i class="icon-star-empty"></i> Recent posts</h2>
      {% include posts/recent-summary.html %}
      <a href="{{baseurl}}/blogs.html" class="btn">All posts <i class="icon-arrow-right"></i></a>
  </div>
</div>
